################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dotnetcoremvc-test-app/.vs/dotnetcoremvc-test-app/v16
/dotnetcoremvc-test-app/dotnetcoremvc-test-app/bin/Debug/netcoreapp3.1
/dotnetcoremvc-test-app/dotnetcoremvc-test-app/obj
